@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

/* main section */
main{
  background-image: url(/images/bg-desktop.svg);
  background-position: center;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  width: 100%;
  height: 100vh;
  padding: 50px;
}

/* logo image */
.container img{
  width: 170px;
  padding-bottom: 40px;
}


/* hero section */
.hero-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* align-items: center; */
  column-gap: 50px;
}

/* hero section mockup image */
.hero-section img{
  width: 100%;
}

/* write up */
.build-community h1{
  font-size: 2.7em;
  font-family: 'Poppins';
  color: white;
  padding-bottom: 22px;
}

.build-community p{
  font-size: 18px;
  color: white;
  padding-bottom: 22px;
}

/* button */
.build-community button{
  padding: 12px;
  width: 34%;
  border: none;
  border-radius: 50px;
  color: hsl(257, 40%, 49%);
  font-size: 16px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
}

/* button hover */
.build-community button:hover{
  background-color: hsl(300, 69%, 71%);
  color: white;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: 0.5s;
}

/* social icons container */
footer .social-icons{
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

/* socia icons */
footer .social-icons a i{
  border-radius: 50%;
  border: 1.8px solid white;
  font-size: 18px;
  padding: 10px;
  color: white;
  transition: 0.5s;
}

/* socia icons hover */
footer .social-icons a i:hover{
  border: 1.8px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

/* footer */
.attribution{
  color: white;
}
.attribution a{
  color: hsl(300, 69%, 71%);
  font-weight: bolder;
}
.attribution a:hover{
  color: wheat;
  font-weight: bolder;
}


/* media quieries */
@media screen and (max-width: 900px) {

  /* main body */
  main{
    background-image: url(/images/bg-mobile.svg);
    background-position: center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    width: 100%;
    padding: 30px;
  }
  
  /* logo image */
  .container img{
    width: 150px;
    padding-bottom: 40px;
  }
  
  /* hero section */
  .hero-section{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    padding-bottom: 80px;
  }
  
  /* hero section mockup image */
  .hero-section img{
    width: 100%;
  }
  
  /* section write up */
  .build-community{
    text-align: center;
  }

  .build-community h1{
    font-size: 1.5em;
    padding-bottom: 22px;
  }
  
  .build-community p{
    font-size: 16.5px;
  }
  
  /* hero section button */
  .build-community button{
    align-items: center;
    padding: 12px;
    width: 70%;
    border: none;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    font-size: 16px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.35);
  }
  
  /* hero section hover */
  .build-community button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    transition: 0.5s;
  }
  
  /* social icons container */
  footer .social-icons{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    padding-bottom: 30px;
  }
  
  /* social icons */
  footer .social-icons a i{
    border-radius: 50%;
    border: 1.8px solid white;
    font-size: 14px;
    padding: 8px;
    color: white;
    transition: 0.5s;
  }

  /* social icons hover */
  footer .social-icons a i:hover{
    border: 1.8px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
  }
  
  /* footer */
  .attribution{
    color: white;
    text-align: center;
  }
  .attribution a{
    color: hsl(300, 69%, 71%);
    font-weight: bold;
    font-size: 14px;
  }
  .attribution a:hover{
    color: wheat;
    font-weight: bolder;
  }
}